.parent{
    display: flex;
    justify-content: center;
}
.questionParent{
    width: 500px;

    margin: 0 auto;
    margin-top: 70px;
}
.correctLabel{
    display: flex;
    justify-content: flex-start;
    width: 500px;
}